/* @font-face {
    font-family: KungFont; 
    src: url(./Kungfont-Regular.otf);
}
  
*{
    font-family: KungFont;
} */

#desk-form{
    margin-top: 5%;
    text-align: center;
    
}

#desk{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;   
    display: flex
}

#to-do-desk{
    width: 25%;
    border: 1px solid black;
    /* text-align: center; */
}

#in-progress-desk{
    width: 25%;
    border: 1px solid black;
    /* text-align: center; */
}

#done-desk{
    width: 25%;
    border: 1px solid black;
    /* text-align: center; */
}

#deleted-desk{
    width: 25%;
    border: 1px solid black;
    /* text-align: center; */
}

body{
    background-size: cover;
}

.card{
    border: 1px solid black
}

